
<li class="">
            <a href="/dashboard"><span>Dashboard</span></a>
        </li>
        <li class="">
            <a href="/user"><span>User</span></a>
        </li>
        <li class="">
            <a href="/admin/delivery/index/US"><span>Delivery Commitments</span></a>
        </li>
        <li class="">
            <a href="/invoice"><span>Invoice</span></a>
        </li>
        <li class="">
            <a href="/clients"><span>Client</span></a>
        </li>
        <li class="">
            <a href="/analytics"><span>Analytics</span></a>
        </li>
        <li class="clear">&nbsp;</li>
        
    