<tr>
        <td style="" data_field="client_name" id="client_name_tr_1">
      {{client_name}}      
    </td>
        <td style="" data_field="client_account_number" id="client_account_number_tr_1">
      {{client_account_number}}      
    </td>
        <td style="" data_field="owed" id="owed_tr_1">
      {{owed}}      
    </td>
        <td style="" data_field="fullrefund" id="fullrefund_tr_1">
      {{fullRefund}}      
    </td>
        <td style="" data_field="fullrefundamount" id="fullrefundamount_tr_1">
      6576.80      
    </td>
        <td style="" data_field="totalauditor1" id="totalauditor1_tr_1">
      157      
    </td>
        <td style="" data_field="totalauditor1amount" id="totalauditor1amount_tr_1">
      6362.65      
    </td>
        <td style="" data_field="totalauditor2" id="totalauditor2_tr_1">
      5      
    </td>
        <td style="" data_field="totalauditor2amount" id="totalauditor2amount_tr_1">
      214.15      
    </td>
        <td style="" data_field="fullrefundgroundowed" id="fullrefundgroundowed_tr_1">
      218.91      
    </td>
        <td style="" data_field="fullrefundgroundamount" id="fullrefundgroundamount_tr_1">
      437.8100000000002      
    </td>
        <td style="" data_field="fullrefundexpressowed" id="fullrefundexpressowed_tr_1">
      3069.50      
    </td>
        <td style="" data_field="fullrefundexpressamount" id="fullrefundexpressamount_tr_1">
      6138.99      
    </td>
        <td style="" data_field="totalInvoice" id="totalInvoice_tr_1">
      <a href="/admin/analytics/invoicesummaryclient/id/39/">140</a>    
            
    </td>
      </tr>