<p id="mainContent"></p>
<h2>Dashboard</h2>

<div id="mainTbl">
	<br>
	<table border="0" cellpadding="0" cellspacing="0" class="moduleTable">
	  <tbody>
	  <tr class="labels">
      <th></th>
      <th>Last 14 Days (based on date received)</th>
      <th>Last Month (based on date received)</th>
	    <th>Last 3 Months (based on date received)</th>
      <th>Total Lifetime</th>
    </tr>
    <tr>
      <td>Active Clients <br>(based on activated date)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Owed</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>Invoices</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
	    <td>&nbsp;&nbsp; Late <br>&nbsp;&nbsp; (based on invoice date)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; On Time <br>&nbsp;&nbsp; (based on invoice date)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; Refund</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Auditor 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Amount Auditor 1</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Auditor 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Amount Auditor 2</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Amount</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>

    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Ground</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Amount Ground</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Express</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; &nbsp;&nbsp; Total Amount Express</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
		
    		
    		
		
  </tbody>
</table>
</div><p></p>