<h3>User Name</h3>
  <input name="username" id="username" type="text" size="30">
<h3><br>Password</h3>
  <input name="password" id="password" type="password" size="30">
<h3><br>
<input name="Submit" type="submit" class="submit" value="Submit"></h3>

